CompileFlags:
  CompilationDatabase: C:/Users/Ranui/AppData/Local/Programs/Git/qmk_firmware
  Add: [-Wno-unknown-attributes, -Wno-maybe-uninitialized, -Wno-unknown-warning-option]
  Remove: [-W*, -mcall-prologues, -mcpu=*]
  Compiler: clang
